llama-index
llama-index-readers-file
llama-index-readers-web
llama-index-readers-wikipedia
llama-hub
llama-index.embeddings.huggingface
fastapi
uvicorn
python-telegram-bot
pyyaml
httpx 
supervisor 
wikipedia